
/****************
 ****  FONTS ****
 ****************/
 @font-face {
    font-family: 'Hooskai Chamfered Square';
    src: url('./fonts/HooskaiChamferedSquare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./fonts/PPNeueMachina-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Halvar';
    src: url('./fonts/HalvarBreit-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Neue Machina', sans-serif;
    color: #fff;
    background-color: #000;
  }

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

/****************
 ****  ABOUT ****
 ****************/
#about {
    background-image: url(./images/backgrounds/about-background.jpg);
    background-size: cover;
    background-position-x: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-right: 20%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;
}
#about .burger-btn{
    display: none;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, auto);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 60%;
    z-index: 4;
    padding: 0.5% 0 0.5% 0; 
}

nav::after{
    content: '';
    position: absolute;
    transform: translateX(-50%); 
    width: 500%;
    height: 120%;
    background-color: rgba(31, 31, 31, 0.63);
    z-index: -1;
    border-bottom: 1px solid rgba(152, 80, 209, 0.7);

}

nav ul {
    grid-column: 11 / -1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    padding-left: 30px;
}

/* Logo flip animation */
@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    50% {
        opacity: 0.5;
        transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav .logo{
    background-color: #9851D1;
    width: 6vh;
    height: 5vh;
    display: flex;
    align-items: center;
    font-family: 'Hooskai Chamfered Square';
    font-size: 3vh;
    font-weight: 800;
    line-height: 36.81px;
    color: #9851D1;
    text-shadow: /* outline effect for text */
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    animation: fadeInRotate .8s ease-out forwards;
}

nav .logo-content {
    margin: auto;
}

nav .logo::before{
    content: 'TK';
    position: absolute;
    color: black;
    z-index: 1;
    text-shadow: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 700;
    margin: 0 20px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #9851D1;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #9851D1;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

.intro {
    grid-row: 6 / -1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0;
    padding: 0;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#about h1 {
    font-size: 6vw;
    font-weight: 400;
    font-family: 'Hooskai Chamfered Square';
    color: black;
    position: relative;
    text-shadow: 
    -1px -1px 0 #9851D1,  
     1px -1px 0 #9851D1,
    -1px 1px 0 #9851D1,
     1px 1px 0 #9851D1;
    padding: 0;
    margin: 0;
    grid-row: 5 / -1;
    grid-column: 1 / -1;
    animation: fadeInSlideUp 1s ease-out forwards;
    user-select: none;
}

#about h1::before {
    content: 'PORTFOLIO';
    position: absolute;
    left: -7px;
    top: -5px;
    color: #9851D1;
    z-index: 1;
    text-shadow: none;
}

#about p{
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    width: 58%;
    font-family: 'Halvar';
    grid-row: 7 / -1;
    grid-column: 1 / -1;
    animation: fadeInSlideUp 1s ease-out forwards;
    user-select: none;
    cursor: default;
}

#about .second {
    grid-row: 8;
    margin-top: 0;
}

#about img{
    grid-column: 6;
    grid-row: 5 / -1;
    width: 35vw;
    position: absolute;
    z-index: 1;
    transform: translateY(calc(10vh - 5vw)) translateX(10%);
}

#about .slider {
    grid-row: 9;
    grid-column: 3;
    position: relative;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    background-color: rgba(152,80,209,0.5);
    border: 1px solid rgba(78,41,107,1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    perspective: 1000px; /* 3D perspective */
    animation: fadeInSlideUp 1s ease-out forwards;
    padding: 0;
}

#about button img {
    width: 100%;
    height: 100%;
    transform: none;
}

/* front and back styles */
#about button .front, #about button .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* front side style */
#about button .front {
    background-color: rgba(152,80,209,0.17);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* back side styles */
#about button .back {
    transform: rotateY(180deg);
    color: white;
    font-size: 2vh;
    font-family: 'Halvar';
}

#about button:hover .front {
    transform: rotateY(-180deg); /* flip front side */
}

#about button:hover .back {
    transform: rotateY(0deg); /* return */
}

#about button:hover {
    box-shadow: 0 0 20px rgba(152, 80, 209, 1);
}

button .back{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#about .header-link{
    font-size: 6vw;
    font-weight: 400;
    font-family: 'Hooskai Chamfered Square';
    color: black;
    position: relative;
    text-shadow: 
    -1px -1px 0 #9851D1,  
     1px -1px 0 #9851D1,
    -1px 1px 0 #9851D1,
     1px 1px 0 #9851D1;
    padding: 0;
    margin: 0;
    grid-row: 5 / -1;
    grid-column: 1 / -1;
    animation: fadeInSlideUp 1s ease-out forwards;
    user-select: none;
    text-decoration: none;
}

/*****************
 ****  SKILLS ****
 *****************/
#skills .glitch {
    position: absolute;
    width: 50vw;
    transform: translateY(calc(-35% - 2vh)) translateX(42vw);
    z-index: 1;
}
#skills {
    background-image: url(./images/backgrounds/skills-background.png);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-right: 20%;
    padding-left: 20%;
    position: relative;
}

#skills h1 {
    font-size: 12vh;
    font-weight: 400;
    font-family: 'Hooskai Chamfered Square';
    color: #9851D1;
    position: relative;
    padding: 0;
    margin: 0;
    grid-row: 2;
    grid-column: 1 / -1;
    user-select: none;
}

#skills .skills-container {
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#skills .cards{
    display: flex;
    flex-flow: row nowrap;
    transition: transform 1s ease;
    display: flex;
}

#skills .skill-card {
    width: 100%;
    height: 55%;
    background-color: rgba(31, 31, 31, 0.63);
    border: 1px solid rgba(78, 41, 107, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform .5s ease, opacity .5s ease;
    opacity: 0.5;
    font-family: 'Halvar';
    font-weight: 400;
    margin: 0 2vw;
    user-select: none;
}

#skills .skill-card h3 {
    font-size: 2.5vh;
    margin: 0;
}

#skills .skill-card h3:hover {
    color: #9851D1;
    transition: color 0.3s ease;
}

#skills .skill-card ul {
    font-size: 2vh;
    list-style: none;
}

#skills .skill-card ul li {
    position: relative;
    margin: 5px 0;
}

#skills .skill-card ul li::before {
    content: '•';
    color: #9851D1;
    position: absolute;
    left: -20px;
    top: 0;
  }

/* Active card - JS part*/
#skills .skill-card.active {
    transform: translateY(-30px);
    box-shadow: 0 0 20px rgba(152, 80, 209, 1);
    opacity: 1;
  }


#skills .skills-container button {
    width: 3vw;
    height: 3vw;
    position: absolute;
    background-color: rgba(78, 41, 107, 1);
    border-radius: 50%;
    border: none;
    top: 25%;
    cursor: pointer;
}

#skills .skills-container button img {
    width: 100%;
}

#prevBtn {
    left: calc(35.5% - 3vw);
}

#prevBtn img{
    transform: rotate(90deg);
}

#nextBtn {
    transform: rotate(-90deg);
    left: calc(59.5% + 3vw);
}

#skills .skills-container button:hover {
    box-shadow: 0 0 20px rgba(152, 80, 209, 1);
}

/**********************
 *****  EDUCATION *****
 **********************/
#education{
    background-size: cover;
    height: 100vh;
    display: grid;
    background-image: url(./images/backgrounds/education-background.jpg);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-right: 20%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#education h1 {
    font-size: 12vh;
    font-weight: 400;
    font-family: 'Hooskai Chamfered Square';
    color: #9851D1;
    position: relative;
    padding: 0;
    margin: 0;
    grid-row: 3;
    grid-column: 1 / -1;
}

#education .education-container {
    grid-row: 6 / -1;
    grid-column: 1 / 6;
    font-family: 'Halvar';
    font-weight: 600;
    font-size: 2.3vh;
    padding-left: 20px;
    transform: translateY(-10px);
}

#education p{
    margin: 10px 0 10px 0;
}

#education .education-container img {
    width: 45%;
    margin-top: 20px;
}

#education img {
    width: 20vw;
    grid-row: 6 / -1;
    grid-column: 8 / -1;
    transition: transform 0.3s;
}

#education img:hover {
    transform: translateY(-20px);
}

#interests {
    background-size: cover;
    height: 100vh;
    display: grid;
    background-color: #070707;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-right: 20%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;
}

#interests img {
    width: 35vw;
    grid-row: 5 / -1;
    grid-column: 4 / -1;
    transition: transform 0.3s;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#interest img::before{
    content: 'INTERESTS';
    position: absolute;
}

#interests .behind {
    position: absolute;
    width: 40vw;
    z-index: 1;
    transform: translateY(-7%) translateX(-4%);
}

#interests h1 {
    font-size: 3vw;
    font-weight: 400;
    font-family: 'Hooskai Chamfered Square';
    color: #9851D1;
    position: absolute;
    grid-row: 8;
    grid-column: 5 / -1;
    z-index: 3;
    transform: rotate(-6deg) translateX(3%);
    text-shadow: 5px 5px 4.7px #000000FA;
    user-select: none;
    transition: transform 0.3s ease;
    margin: 0;
}

#interests .humanitarian{
    position: absolute;
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    font-family: 'Halvar';
    width: 35%;
    transform: translateY(-20%) rotate(13deg);
    text-align: center;
    font-weight: 800;
    user-select: none;
}

#interests h3 {
    font-size: 3.5vh;
    color: #9851D1;
    padding: 0;
    margin: 0;
    user-select: none;
}

#interests  p {
    font-size: 2.1vh;
    margin: 2%;
    user-select: none;
}

.block h3 {
    /* Transition for underline effect */
    position: relative;
    transition: all 0.3s ease;
}

.block h3::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9851D1;
    transition: width 0.3s ease;
}

.block:hover h3::after {
    width: 100%; /* Underline grows to full width on hover */
}

.block p {
    position: relative;
    overflow: hidden;
}

.block p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
    transition: left 0.7s ease;
}

.block:hover p::before {
    left: 100%; /* Moves the highlight from left to right */
}

#interests .arrow-interests {
    position: absolute;
    grid-row: 3 / -1;
    grid-column: 5 / -1;
    width: 32%;
    z-index: 3;
    transform: translateX(-5%) translateY(-10%);
}

#interests .photography {
    position: absolute;
    grid-row: 4 / -1;
    grid-column: 10 / -1;
    font-family: 'Halvar';
    width: 120%;
    transform: translateY(-10%) rotate(-13deg);
    text-align: center;
    font-weight: 800;
}

#interests .arrow-photography {
    position: absolute;
    grid-row: 3 / -1;
    grid-column: 8 / -1;
    width: 40%;
    z-index: 3;
    transform: translateX(20%) translateY(10%);
}

#interests .music {
    position: absolute;
    grid-row: 6 / -1;
    grid-column: 11 / -1;
    font-family: 'Halvar';
    width: 170%;
    transform: translateX(-15%) rotate(2deg);
    text-align: center;
    font-weight: 800;
}

#interests .arrow-music {
    position: absolute;
    grid-row: 8 / -1;
    grid-column: 10 / -1;
    width: 50%;
    z-index: 3;
    transform: translateX(10%) translateY(-50%);
}

#interests .travel {
    position: absolute;
    grid-row: 9 / -1;
    grid-column: 10 / -1;
    font-family: 'Halvar';
    width: 110%;
    transform: translateX(10%) translateY(-10%) rotate(-7deg);
    text-align: center;
    font-weight: 800;
}

#interests .arrow-travel {
    position: absolute;
    grid-row: 11 / -1;
    grid-column: 9 / -1;
    width: 45%;
    z-index: 3;
    transform: translateX(10%) translateY(-70%);
}

#interests .videogames{
    position: absolute;
    grid-row: 8 / -1;
    grid-column: 1 / -1;
    font-family: 'Halvar';
    width: 35%;
    transform: translateY(-20%)  rotate(-20deg);
    text-align: center;
    font-weight: 800;
}

#interests .arrow-videogames {
    position: absolute;
    grid-row: 6 / -1;
    grid-column: 4 / 10;
    width: 40%;
    z-index: 3;
    transform: translateX(-45%) translateY(-20%);
}

#contacts {
    background-size: cover;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/backgrounds/footer.jpg);
    padding-right: 20%;
    padding-left: 20%;
    position: relative;
}

#contacts .contacts-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    border-radius:50%;
    background-color: #9850D1;
    box-shadow: 0 0 70px rgba(152, 80, 209, 1);
    transform: translateX(5%);
}
#contacts h3 {
    font-size: 2.7vw;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 90%;
    font-weight: 150;
    font-family: 'Hooskai Chamfered Square';
    user-select: none;
}

#contacts .contacts-images{
    margin-top: 5%;
}

#contacts .contacts-images img {
    margin: 0 1vw;
    transition: transform 0.3s;
}

#contacts .contacts-images img:hover {
    transform: translateY(-10px);
}

@media screen and (min-width: 1921px) {
    #interests h1 {
        font-size: 3vw;
        transform: translateY(10%) rotate(-6deg) translateX(3%);
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    #about img {
        width: 35vw;
    }
}

@media screen and (max-width: 550px) {
    #about{
        height: 100vh;
        width: 100vw;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        padding: 0;
    }
    #about img {
        width: 130vw;
        grid-row: 6 / -1;
        grid-column: 1 / -1;
        transform: translateX(-15vw);
    }
    #about h1 {
        font-size: 10vw;
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        margin-top: 10%;
    }
    #about h1::before{
        left: -0.5%;
        top: -0.4%;
    }
    #about .first, #about .second {
        width: 100%;
        height: 20%;
        grid-row: 3 / -1;
        grid-column: 2 / 8;
        font-size: 3.3vw;
        font-weight: 200;
        text-align: center;
        margin-top: 10%;
    }
    #about .second{
        grid-row: 4;
        margin-top: 0;
    }
    #about .slider{
        display: none;
    }

    #about .burger-btn{
        display: flex;
        z-index: 5;
        cursor: pointer;
        background: none;
        border: none;
        color: #F3F3F3;
        font-size: 8vw;
        grid-column: 7;
        margin-left: 30%;
    }
    #about .burger-btn:hover{
        box-shadow: none;
    }
    #about nav ul{
        display: none;
        grid-column: 5;
        height: 99.8vh;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        background-color: rgba(31, 31, 31, 0.9);
        border: 1px solid rgba(152, 80, 209, 0.7);
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    #about nav ul li {
        padding: 10% 0 5% 0;
        text-align: left;
    }

    #about nav ul li:nth-child(1){
        padding-top: 40%;
    }

    #about .menu {
        padding-left: 0;
    }

    nav {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-content: space-between;
        padding: 2% 0;
        position: fixed;
    }

    nav::after{
        width: 100%;
        transform: none;
    }

    nav .logo {
        width: 11vw;
        height: 10vw;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 0;
    }

    nav .logo-link {
        grid-column: 2;
        margin: 0;
    }
    nav .logo-content{
        margin: auto;
    }

    nav .logo::before {
        left: 13%;
    }

    #skills .glitch {
        display: none;
        width: 100vw;
        height: 100vw;
        transform: translateY(calc(-100%)) translateX(-2vw);
    }
    #skills {
        width: 100vw;
        height: 110vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        overflow-y: visible;
    }
    #skills h1 {
        font-size: 10vw;
        margin-top: 20%;
    }
    #skills .skills-container {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        flex-flow: column;
    }
    #skills .cards{
        display: grid;
        grid-template-rows: repeat(10, auto);
        position: relative;
    }
    #skills .skill-card.base{
        grid-row: 2;
        height: 80%;
    }
    #skills .active{
        grid-row: 1;
    }
    #skills .skill-card.active{
        box-shadow: none;
        transform: none;
        height: 60%;
    }
    #skills .skill-card.soft{
        grid-row: 10;
        height: 70%;
    }
    #skills .skill-card {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        border-radius: 20px;
        opacity: 1;
        grid-column: 1;
    }
    #skills .skill-card ul{
        font-size: 3.5vw;
        padding-left: 6%;
    }
    #skills button{
        display: none;
    }

    #education{
        height: 100vh;
        width: 100vw;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    #education h1 {
        font-size: 10vw;
        grid-row: 2;
        grid-column: 2 / -1;
    }
    #education .education-container {
        grid-row: 3 / -1;
        grid-column: 2 / -1;
        height: 30%;
        font-size: 5vw;
        font-weight: 200;
        padding: 0;
    }
    #education p{
        padding-top: 3%;
    }

    #education img {
        width: 65vw;
        grid-row: 8 / -1;
        grid-column: 3 / -1;
    }

    #interests {
        height: 110vh;
        width: 100vw;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    #interests h1 {
        font-size: 8.5vw;
        grid-row: 9;
        grid-column: 2 / -1;
        transform: translateY(100%) translateX(6%) rotate(-6deg);
    }
    #interests h3{
        font-size: 5vw;
        width: 100%;
        transform: none;
        margin: 0;
        padding: 0;
    
    }
    #interests p{
        font-size: 3vw;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #interests .humanitarian{
        grid-row: 2 / -1;
        grid-column: 2 / 8;
        transform: none;
        width: 100%;
    }
    #interests .photography{
        grid-row: 3 / -1;
        grid-column: 2 / 8;
        transform: none;
        width: 100%;
    }
    #interests .music{
        grid-row: 4 / -1;
        grid-column: 2 / 8;
        transform: none;
        width: 100%;
    }
    #interests .travel{
        grid-row: 5 / -1;
        grid-column: 2 / 8;
        transform: none;
        width: 100%;
    }
    #interests .videogames{
        grid-row: 6 / -1;
        grid-column: 2 / 8;
        transform: none;
        width: 100%;
    }
    #interests img{
        width: 100vw;
        grid-row: 7 / -1;
        grid-column: 1 / -1;
        transform: translateY(10%);
    }
    #interests .behind{
        width: 120vw;
        transform: none;
        grid-row: 6 / -1;
        grid-column: 1 / -1;
        transform: translateY(15%) translateX(-6%);
    }

    #interests .arrow-interests{
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        width: 35%;
        transform: translateY(-50%) rotate(-120deg);
    }

    #interests .arrow-photography {
        position: absolute;
        grid-row: 7 / -1;
        grid-column: 1;
        width: 35%;
        z-index: 3;
        transform: rotate(-70deg) translateX(-20%) translateY(-10%);
    }

    #interests .arrow-music {
        position: absolute;
        grid-row: 7 / -1;
        grid-column: 6 / -1;
        width: 65%;
        z-index: 3;
        transform: translateX(20%) translateY(10%) rotate(-70deg);
    }

    #interests .arrow-travel {
        position: absolute;
        grid-row: 4 / -1;
        grid-column: 1 / -1;
        width: 40%;
        z-index: 3;
        transform: translateX(-55%) translateY(-5%) rotate(-5deg);
    }

    #interests .arrow-videogames {
        position: absolute;
        grid-row: 1 / -1;
        grid-column: 6 / -1;
        width: 120%;
        z-index: 3;
        transform: rotate(50deg) translateX(10%) translateY(-10%);
    }

    #contacts {
        height: 60vh;
        width: 100vw;
        padding: 0;
        background-size: cover;
    }
    #contacts .contacts-container{
        width: 80%;
        height: 65%;
        border-radius: 50%;
        transform: none;
    }
    #contacts h3 {
        font-size: 8vw;
        width: 100%;
    }
    #contacts .contacts-images {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #contacts .contacts-images img {
        width: 10vw;
        margin: 0 4vw;
    }
}
